{% extends "base.html" %}
{% load static %}
{% block content %}

<p>
    <a class="btn btn-light" href="{% url 'myapp_Post_list' %}">
        Post Listing
    </a>
</p>

<table class="table">
    <tr>
        <td>published_at</td>
        <td>{{ object.published_at }}</td>
    </tr>
    <tr>
        <td>description</td>
        <td>{{ object.description }}</td>
    </tr>
    <tr>
        <td>is_public</td>
        <td>{{ object.is_public }}</td>
    </tr>
    <tr>
        <td>title</td>
        <td>{{ object.title }}</td>
    </tr>
    <tr>
        <td>updated_at</td>
        <td>{{ object.updated_at }}</td>
    </tr>
    <tr>
        <td>content</td>
        <td>{{ object.content }}</td>
    </tr>
    <tr>
        <td>created_at</td>
        <td>{{ object.created_at }}</td>
    </tr>

    <tr>
        <td>category</td>
        <td>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{object.category.get_absolute_url}}">
                        {{ object.category.name }}
                    </a>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>tags</td>
        <td>
            <ul class="list-group">
                {% for tag in object.tags.all %}
                <li class="list-group-item">
                    <a href="{{tag.get_absolute_url}}">
                        {{ tag.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>images</td>
        <td>
            <ul class="list-group">
                {% for image in object.post_images.all %}
                <li class="list-group-item">
                    <a href="{{image.get_absolute_url}}">
                        {{ image.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}